@import "dconfig";

$prim-color: #f69314;
$sec-color: #777777;
$secLight-color: #f0f0f0;
$white: #fff;
$black: #000;
$sec-font: "Playfair Display", serif;
$prim-font:  "Roboto", "Helvetica", "Sans-serif";
$transition: all 300ms ease;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


body {
    
    max-width: 1500px;
    margin: 0 auto;
    scroll-behavior: smooth;
   
}


//menu styling
.landing-page_wrapper {
    width: 100%;
    height: 100vh;
    background: #fff url('https://onclickwebdesign.com/wp-content/uploads/hero_1.jpg') no-repeat top/cover ;
    color: #fff;
    
    .landing-page {
         width: 100%;
         height: 100%;
        //  @include flex(column, space-between, center);
         background: rgba(52, 58, 64, 0.9);
        //  z-index: 1;
        
         .menu_wrapper {
            width: 100%;
            height: 12vh;
            @include flex;
            font-family:$prim-font;
            transition: $transition;
            border-bottom:1px solid #bbb ;
            z-index: 212;
    
            .menu {
                width:80%;
                height: 100%;
                @include flex(row, space-between, center);
                #hamburger-open {
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                .logo {

                    a { 
                        color: $prim-color;
                        text-decoration: none;
                        display: block;
                    }
                }
    
                .nav_wrapper {
                    background:$white;
                    width: 300px;
                    position: fixed;
                    top:0;
                    right: -300px;
                    // right: 0;
                    height: 100vh;
                    transition: $transition;
                    box-shadow: -.5px 0px 5px 1px black;

    
    
                    .nav {
                        @include flex(column, space-evenly, left);
                         width: 100%;
                        //  margin-left:2rem;
                         height: 50%;
                         margin-top:4rem ;
                         position: relative;
                         padding-left:2rem;
                        //  border-top:1px solid rgba(255, 255, 255, 0.719);
                       
                         
                         #hamburger-close {
                             position:absolute;
                             height: 12vh;
                             width: 12vh;
                             color:$black;
                             @include flex(row, flex-end, center);
                             padding-right: 2.5rem;
                             top:-4rem;
                             right: -.5rem;
                             cursor: pointer;
                             border-bottom:1px solid #bbb ;
                             font-size: 1.5rem;
                         }

                         .page {
                             list-style: none;
                            
                             a {
                                 text-decoration: none;
                                 color:#000;
                                 display: block;
                                 height: 2rem;
                                 line-height: 2;
                                 font-weight: 400;
                                 font-size: 1.2rem;

                                 &:hover {
                                     color:$prim-color;
                                 }
                                
                             }
    
                        
    
                         }
                    }
                }


            }
            
      // media query for the landing section
            @media (min-width: 900px) {
                    
                .menu {

                    #hamburger-open {
                        display: none;
                    }

                    .nav_wrapper {
                        position:static;
                        height: 10vh;
                        width: 70%;
                        background: transparent;
                        @include flex;
                        box-shadow: none;
                       

                        .nav {
                            @include flex(row, space-evenly, center);
                            width: 100%;
                            height: 100%;
                            margin-top: 0;
                            margin-bottom: 0;
                            position: relative;
                            border-top:none;

                            #hamburger-close {
                                display: none;
                            }
                            
                           .page {

                               a {
                                color: #999;

                                &:hover {
                                    color: $white;
                                }
                              }
                             
                          

                           }
                         //scroll > 0 class for the nav links
                           .down {
                                
                               a {
                                   color:#000;

                                   &:hover {
                                       color: $prim-color;
                                   }
                               }

                              
                           }

                        }
                    }
                }
            }
        }


        
    }

    
}

// landing section style

.landing-page_wrapper {

    .landing-page {

        .landing_wrapper {
            width: 100%;
            height: 100vh;
            @include flex();
           
           

            .landing {
                width: 350px;
                // width: 70%;
                height: 28%;
                text-align: center;
                @include flex(column, space-between, center);
                margin:1rem;
                
               
            
                .landing-heading {
                    font-size: 2.1rem;
                    font-family: $sec-font;
                    margin-bottom: 1rem;
                }

                .landing-text {
                    font-family: $prim-font;
                }
                
            }

            @media (min-width: 600px) {
                    
                .landing {
                    width: 600px;

                    .landing-heading {
                        font-size: 2.8rem;
                    }

                    .landing-text {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

//how-it-works section stlyle

.how-it-work_wrapper {
     width: 100%;
     height: 85vh;
     background-color: #f8f9fa;
     @include flex;
     
     .how-it-work {
         width: 90%;
         height:90%;
        //  border: 1px solid red;
         @include flex(column, space-around, center);

         .how-it-work-heading {
             margin: .5rem 0rem 1rem 0rem;
             font-size: 2.5rem;
             color:$prim-color;
         }
         
         .how-it-work-card_wrapper {
              width: 400px;
              height: 80%;
              @include flex (column, space-between, center);
              text-align: center;

              .how-it-work-card {
                 width: 100%;
                //  height: 15%;
                font-family: $prim-font;

                 .text {
                     font-size: 14px;
                     font-weight: 100;
                     color:$sec-color;
                 }

                 .title {
                     margin: 1.2rem 0 .5rem 0;
                 }

                 i {
                     font-size: 2rem;
                     color:$prim-color;
                 }
              }
             
         }

     }
     

}

@media (min-width: 650px) {
        
    .how-it-work_wrapper {
        width: 100%;
        height: 60vh;
       

    .how-it-work {
        width: 90%;
        height:90%;
       //  border: 1px solid red;
        @include flex(column, flex-start, center);
      
        .how-it-work-heading {
            margin: .5rem 0rem 5rem 0rem;
            font-size: 2.5rem;
            color:$prim-color;
        }
        
        .how-it-work-card_wrapper {
             width: 90%;
             height: 40%;
             @include flex (row, space-between, center);
             text-align: center;
             margin: 0 5rem;

             .how-it-work-card:nth-child(2) {
                margin: 0 2rem;
              }

             .how-it-work-card {
                // width: 100%;
                width: 30%;
               //  height: 15%;
               font-family: $prim-font;
              
            
                .text {
                    font-size: 14px;
                    font-weight: 100;
                    color:$sec-color;
                }

                .title {
                    margin: 2rem 0 .5rem 0;
                }

                i {
                    font-size: 2rem;
                    color:$prim-color;
                }
             }
            
        }

    }

  }
}


//Property section style

.property_wrapper {
    width: 100%;
    height: fit-content;
    @include flex;
    .property {
        
        width: 80%;
        height: 100%;
        transition:$transition;
        // border: 1px solid red;

        // margin: 0 auto;
        @include flex(column, flex-start, center);

        .propery-heading_wrapper {
            width: 100%;
            @include flex(row, space-between, center);
            margin-top: 2rem;
            margin-bottom: 2rem;

            .property-heading {
                color: $prim-color;
               
            }

            .slider-btn {
                font-family: $prim-font;

                .pre, .next {
                    cursor: pointer;
                }
            }
        }

        .slider_wrapper {
            width: 100%;
            height: 100%;
            margin-bottom: 2em;
            @include flex;
            transition: $transition;

           .all {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 100vh;
            transition: $transition;
           }
           

            .slider {
                width: 90%;
                transition: $transition;
               
                .slider-card {

                    width: 100%;
                    height: 100vh;
                     transition: $transition;
                    margin:.2em .2em;

                    .slider-img {
                        width: 100%;
                        height: 70%;
        
                        img {
                            width: 100%;
                            // width: 300px;
                            height: 100%;
                        }
                    }

                    .slider-body {
                        width: 100%;
                        padding: 1.5rem 1rem;
                        font-family: $prim-font;
                        color: $sec-color;

                        .price {
                            width: 100%;
                            @include flex(row, space-between, center);
                            
                            .property-details {
                                margin-left: 2rem;
                                text-decoration: none;
                                color: $prim-color;
                                font-size: 1rem;
                                font-weight: 300;
                            }
                        }

                        .details {
                            margin: 1rem 0 .5rem 0;
                            width: 100%;
                             
                            span:nth-child(2) {
                                margin: 0 .5rem;
                                border-right: 1px solid $sec-color;
                                border-left: 1px solid $sec-color;
                                padding: 0 .5rem;

                            }
                        }
                        
                    }
                }
            }
        }
    }

    .view-all-btn_wrapper {
      
        .view-all-btn {
            @include btn-default ($prim-color);
            border-radius: 30px;
            padding:10px 30px;
            font-family: $prim-font;
        }
    }
};

@media(min-width:650px) {

  .property_wrapper .property .slider_wrapper  .slider {
               width: 100%;
    
    };

  .property_wrapper .property .slider_wrapper  .all {
                grid-template-columns: 1fr 1fr;
                gap: .3em;
                
    }


};
@media(min-width:1000px) {

  .property_wrapper .property .slider_wrapper  .all {
                grid-template-columns: 1fr 1fr 1fr;
                
    }
};

// agent section style

.agent_wrapper {
    width: 100%;
    margin-top: 5em;
    @include flex;

    .agent {
      
        @include flex(column, flex-start, center);
        width: 80%;
        // padding: 2em;

        .agent-heading_wrapper {
             margin-bottom: 3em;
             width: 100%;
            .agent-title {
                color: $prim-color;
                font-size: 2.5em;
                margin-bottom: .5em;
               
            }

            .agent-text {
                font-family: $prim-font;
                color:$sec-color;
                font-size: 1.1em;
                font-weight: 100;
                width: 40vw;
            }
        }

        .agent-card_wrapper {
            // padding: 0 2em;
            width: 100%;
            display: grid;
            // justify-content: center;
            grid-template-columns: 1fr;
            grid-auto-rows: 70vh;
            gap:1em;
            
             
    

            .agent-card {
               width: 100%;
               background: $secLight-color;
               @include flex(column, space-between, left);

                .agent-card-img {
                    width: 100%;
                    height: 75%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .agent-card-body {
                    // padding:.5em 0 0 1em;
                    color: $sec-color;
                    margin-left:1em;
                    margin-bottom:1em;
                    
                    .agent-name {
                        margin:0;
                    }

                    .agent-position {
                       font-family: $prim-font;
                       font-size: 12px;
                       margin: 0;
                    }
                } 
            }
        }
    }
}

@media (min-width:550px) {
    
    .agent_wrapper {

        .agent {

           

            .agent-card_wrapper {
             
                grid-template-columns:minmax(210px, 300px) minmax(210px, 300px);
                grid-auto-rows: 50vh;

               
                
            }
        }
    }


}

@media (min-width:750px) {
    
    .agent_wrapper {

        .agent {

           

            .agent-card_wrapper {
             
                grid-template-columns:minmax(1fr, 300px) minmax(1fr, 300px) minmax(1fr, 300px);
                grid-auto-rows: 50vh;

               
                
            }
        }
    }

}

@media (min-width:1000px) {
    
    .agent_wrapper {

        .agent {

           

            .agent-card_wrapper {
             
                grid-template-columns:1fr 1fr 1fr;
                grid-auto-rows: 70vh;

               
                
            }
        }
    }
}


//Aout us section style

.about_wrapper{
    width: 100%;
    @include flex;
    border-top: 1px solid #bbb;
    margin-top: 10em;
    padding-top: 5em;

    .about {
        width: 80%;

        .about-img_wrapper {
            display: none;
        }

        .about-info_wrapper {
            width: 100%;

            .about-info {
                width: 100%;

                .about-info-heading {
                     color: $prim-color;
                }

                .about-info-description {
                    font-family: $prim-font;
                    color:$sec-color;
                    font-size: 14px;
                    font-weight: 100;
                }

                .about-info-list {
                    font-family: $prim-font;
                    color:$sec-color;
                    font-size: 16px;
                    font-weight: 100;

                    li {
                        margin-top: 1em;
                    }
                    
                }

                .about-info-btn {
                    @include btn-default($prim-color);
                    margin-top: 2em;
                }
            }
        }
    }
}


@media (min-width: 700px) {
     
     .about_wrapper .about {
      @include flex(row, space-between, center);

        .about-img_wrapper {
            display: block;
             width: 40vw;
             max-width: 350px;
             height: 70vh;
             margin-right: 5em;

             img {
                 width: 100%;
                 height: 100%;
             }
        }

        .about-info_wrapper {
            width:40vw;
        }
     }
}

.service_wrapper {
    width: 100%;
    @include flex;
    background:$secLight-color;
    margin-top: 10em;

    .service {
        width: 80%;
        @include flex(column, flex-start, center);

        .service-heading {
            color: $prim-color;
            font-size: 2.5em;
        }

        .service-card_wrapper {
              display: grid;
              grid-template-columns: 1fr;
              grid-auto-rows: 50vh;

              .service-card {
                  width: 100%;
              }
        }
    }
}